In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv("/content/Churn_Modelling.csv")
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [ ]:
data = data.drop(["RowNumber","CustomerId","Surname"],axis=1)

In [ ]:
x = data.drop(["Exited"], axis=1)
y = data["Exited"]

In [ ]:
geo = pd.get_dummies(x["Geography"])
gen = pd.get_dummies(x["Gender"])

In [ ]:
geo

      France  Germany  Spain
0          1        0      0
1          0        0      1
2          1        0      0
3          1        0      0
4          0        0      1
...      ...      ...    ...
9995       1        0      0
9996       1        0      0
9997       1        0      0
9998       0        1      0
9999       1        0      0

[10000 rows x 3 columns]

In [ ]:
x = pd.concat([x,geo,gen], axis=1)

In [ ]:
x = x.drop(["Geography","Gender"], axis=1)

In [ ]:
x

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,France,Germany,Spain,Female,Male
0,619,42,2,0.00,1,1,1,101348.88,1,0,0,1,0
1,608,41,1,83807.86,1,0,1,112542.58,0,0,1,1,0
2,502,42,8,159660.80,3,1,0,113931.57,1,0,0,1,0
3,699,39,1,0.00,2,0,0,93826.63,1,0,0,1,0
4,850,43,2,125510.82,1,1,1,79084.10,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64,1,0,0,0,1
9996,516,35,10,57369.61,1,1,1,101699.77,1,0,0,0,1
9997,709,36,7,0.00,1,0,1,42085.58,1,0,0,1,0
9998,772,42,3,75075.31,2,1,0,92888.52,0,1,0,0,1
9999,792,28,4,130142.79,1,1,0,38190.78,1,0,0,1,0

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.2, random_state=101)

In [ ]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.fit_transform(x_test)

In [ ]:
import keras
from keras.models import Sequential
from keras.layers import Dense, LeakyReLU, PReLU, ELU, Dropout

Applying Model

In [ ]:
model = Sequential()

Adding input and 1st hidden layer

In [ ]:
model.add(Dense(units=6, kernel_initializer='he_uniform', activation="relu", input_dim=13))

Adding 2nd hidden layer

In [ ]:
model.add(Dense(units=6, kernel_initializer='he_uniform', activation="relu"))

Adding output layer

In [ ]:
model.add(Dense(units=1, kernel_initializer='glorot_uniform', activation="sigmoid"))

compiling our ann model

In [ ]:
model.compile(optimizer="adam", loss="binary_crossentropy", metrics=["accuracy"])

Fitting our model with training data

In [ ]:
# model_history = model.fit(x_train, y_train, validation_split= 0.33, batch_size=10, nb_epoch=100)
model_history = model.fit(x_train, y_train,validation_split=0.33, batch_size = 10, epochs = 100)

Epoch 1/100
536/536 [==============================] - 2s 3ms/step - loss: 0.5506 - accuracy: 0.7623 - val_loss: 0.4685 - val_accuracy: 0.7989
Epoch 2/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4591 - accuracy: 0.7983 - val_loss: 0.4356 - val_accuracy: 0.7982
Epoch 3/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4333 - accuracy: 0.7983 - val_loss: 0.4201 - val_accuracy: 0.7982
Epoch 4/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4165 - accuracy: 0.8000 - val_loss: 0.4056 - val_accuracy: 0.8054
Epoch 5/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4003 - accuracy: 0.8080 - val_loss: 0.3911 - val_accuracy: 0.8088
Epoch 6/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3875 - accuracy: 0.8128 - val_loss: 0.3842 - val_accuracy: 0.8092
Epoch 7/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3791 - accuracy: 0.8166 - val_loss: 0.3773 - val_accuracy: 0.8103
Epoch 8/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3723 - accuracy: 0.8382 - val_loss: 0.3722 - val_accuracy: 0.8474
Epoch 9/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3674 - accuracy: 0.8498 - val_loss: 0.3668 - val_accuracy: 0.8519
Epoch 10/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3637 - accuracy: 0.8539 - val_loss: 0.3649 - val_accuracy: 0.8512
Epoch 11/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3595 - accuracy: 0.8531 - val_loss: 0.3596 - val_accuracy: 0.8561
Epoch 12/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3572 - accuracy: 0.8582 - val_loss: 0.3583 - val_accuracy: 0.8569
Epoch 13/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3546 - accuracy: 0.8587 - val_loss: 0.3600 - val_accuracy: 0.8561
Epoch 14/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3534 - accuracy: 0.8576 - val_loss: 0.3564 - val_accuracy: 0.8591
Epoch 15/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3509 - accuracy: 0.8574 - val_loss: 0.3583 - val_accuracy: 0.8610
Epoch 16/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3504 - accuracy: 0.8602 - val_loss: 0.3544 - val_accuracy: 0.8591
Epoch 17/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3488 - accuracy: 0.8606 - val_loss: 0.3539 - val_accuracy: 0.8603
Epoch 18/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3478 - accuracy: 0.8593 - val_loss: 0.3516 - val_accuracy: 0.8607
Epoch 19/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3460 - accuracy: 0.8599 - val_loss: 0.3552 - val_accuracy: 0.8614
Epoch 20/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3460 - accuracy: 0.8612 - val_loss: 0.3527 - val_accuracy: 0.8618
Epoch 21/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3447 - accuracy: 0.8638 - val_loss: 0.3523 - val_accuracy: 0.8626
Epoch 22/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3438 - accuracy: 0.8610 - val_loss: 0.3531 - val_accuracy: 0.8588
Epoch 23/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3427 - accuracy: 0.8619 - val_loss: 0.3523 - val_accuracy: 0.8591
Epoch 24/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3427 - accuracy: 0.8608 - val_loss: 0.3525 - val_accuracy: 0.8576
Epoch 25/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3420 - accuracy: 0.8617 - val_loss: 0.3509 - val_accuracy: 0.8573
Epoch 26/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3415 - accuracy: 0.8599 - val_loss: 0.3512 - val_accuracy: 0.8588
Epoch 27/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3410 - accuracy: 0.8625 - val_loss: 0.3509 - val_accuracy: 0.8603
Epoch 28/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3406 - accuracy: 0.8619 - val_loss: 0.3495 - val_accuracy: 0.8610
Epoch 29/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3393 - accuracy: 0.8619 - val_loss: 0.3509 - val_accuracy: 0.8584
Epoch 30/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3392 - accuracy: 0.8634 - val_loss: 0.3498 - val_accuracy: 0.8565
Epoch 31/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3396 - accuracy: 0.8627 - val_loss: 0.3477 - val_accuracy: 0.8580
Epoch 32/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3396 - accuracy: 0.8634 - val_loss: 0.3503 - val_accuracy: 0.8599
Epoch 33/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3382 - accuracy: 0.8638 - val_loss: 0.3499 - val_accuracy: 0.8591
Epoch 34/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3383 - accuracy: 0.8619 - val_loss: 0.3492 - val_accuracy: 0.8580
Epoch 35/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3379 - accuracy: 0.8621 - val_loss: 0.3507 - val_accuracy: 0.8576
Epoch 36/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3377 - accuracy: 0.8617 - val_loss: 0.3498 - val_accuracy: 0.8565
Epoch 37/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3375 - accuracy: 0.8615 - val_loss: 0.3498 - val_accuracy: 0.8573
Epoch 38/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3370 - accuracy: 0.8617 - val_loss: 0.3500 - val_accuracy: 0.8610
Epoch 39/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3372 - accuracy: 0.8623 - val_loss: 0.3483 - val_accuracy: 0.8542
Epoch 40/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3362 - accuracy: 0.8634 - val_loss: 0.3510 - val_accuracy: 0.8550
Epoch 41/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3366 - accuracy: 0.8627 - val_loss: 0.3512 - val_accuracy: 0.8554
Epoch 42/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3359 - accuracy: 0.8623 - val_loss: 0.3507 - val_accuracy: 0.8573
Epoch 43/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3361 - accuracy: 0.8614 - val_loss: 0.3484 - val_accuracy: 0.8580
Epoch 44/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3357 - accuracy: 0.8630 - val_loss: 0.3490 - val_accuracy: 0.8542
Epoch 45/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3356 - accuracy: 0.8628 - val_loss: 0.3485 - val_accuracy: 0.8580
Epoch 46/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3355 - accuracy: 0.8638 - val_loss: 0.3492 - val_accuracy: 0.8584
Epoch 47/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3351 - accuracy: 0.8640 - val_loss: 0.3487 - val_accuracy: 0.8607
Epoch 48/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3351 - accuracy: 0.8628 - val_loss: 0.3481 - val_accuracy: 0.8554
Epoch 49/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3351 - accuracy: 0.8625 - val_loss: 0.3468 - val_accuracy: 0.8591
Epoch 50/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3346 - accuracy: 0.8606 - val_loss: 0.3475 - val_accuracy: 0.8569
Epoch 51/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3343 - accuracy: 0.8617 - val_loss: 0.3498 - val_accuracy: 0.8550
Epoch 52/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3339 - accuracy: 0.8619 - val_loss: 0.3469 - val_accuracy: 0.8554
Epoch 53/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3334 - accuracy: 0.8617 - val_loss: 0.3493 - val_accuracy: 0.8557
Epoch 54/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3335 - accuracy: 0.8606 - val_loss: 0.3475 - val_accuracy: 0.8599
Epoch 55/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3336 - accuracy: 0.8602 - val_loss: 0.3457 - val_accuracy: 0.8576
Epoch 56/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3327 - accuracy: 0.8608 - val_loss: 0.3489 - val_accuracy: 0.8550
Epoch 57/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3331 - accuracy: 0.8604 - val_loss: 0.3483 - val_accuracy: 0.8573
Epoch 58/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3329 - accuracy: 0.8623 - val_loss: 0.3480 - val_accuracy: 0.8580
Epoch 59/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3324 - accuracy: 0.8627 - val_loss: 0.3455 - val_accuracy: 0.8576
Epoch 60/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3321 - accuracy: 0.8612 - val_loss: 0.3483 - val_accuracy: 0.8557
Epoch 61/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3319 - accuracy: 0.8612 - val_loss: 0.3494 - val_accuracy: 0.8599
Epoch 62/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3318 - accuracy: 0.8599 - val_loss: 0.3474 - val_accuracy: 0.8584
Epoch 63/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3314 - accuracy: 0.8606 - val_loss: 0.3496 - val_accuracy: 0.8595
Epoch 64/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3311 - accuracy: 0.8595 - val_loss: 0.3464 - val_accuracy: 0.8569
Epoch 65/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3308 - accuracy: 0.8625 - val_loss: 0.3495 - val_accuracy: 0.8557
Epoch 66/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3309 - accuracy: 0.8636 - val_loss: 0.3467 - val_accuracy: 0.8584
Epoch 67/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3300 - accuracy: 0.8614 - val_loss: 0.3489 - val_accuracy: 0.8591
Epoch 68/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3297 - accuracy: 0.8630 - val_loss: 0.3466 - val_accuracy: 0.8599
Epoch 69/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3298 - accuracy: 0.8587 - val_loss: 0.3450 - val_accuracy: 0.8576
Epoch 70/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3292 - accuracy: 0.8621 - val_loss: 0.3446 - val_accuracy: 0.8584
Epoch 71/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3291 - accuracy: 0.8625 - val_loss: 0.3462 - val_accuracy: 0.8591
Epoch 72/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3292 - accuracy: 0.8617 - val_loss: 0.3454 - val_accuracy: 0.8565
Epoch 73/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3288 - accuracy: 0.8627 - val_loss: 0.3452 - val_accuracy: 0.8599
Epoch 74/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3289 - accuracy: 0.8602 - val_loss: 0.3444 - val_accuracy: 0.8584
Epoch 75/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3282 - accuracy: 0.8638 - val_loss: 0.3455 - val_accuracy: 0.8607
Epoch 76/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3285 - accuracy: 0.8640 - val_loss: 0.3456 - val_accuracy: 0.8610
Epoch 77/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3284 - accuracy: 0.8619 - val_loss: 0.3469 - val_accuracy: 0.8561
Epoch 78/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3280 - accuracy: 0.8623 - val_loss: 0.3445 - val_accuracy: 0.8584
Epoch 79/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3283 - accuracy: 0.8619 - val_loss: 0.3466 - val_accuracy: 0.8607
Epoch 80/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3276 - accuracy: 0.8640 - val_loss: 0.3463 - val_accuracy: 0.8607
Epoch 81/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3273 - accuracy: 0.8619 - val_loss: 0.3478 - val_accuracy: 0.8580
Epoch 82/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3268 - accuracy: 0.8628 - val_loss: 0.3461 - val_accuracy: 0.8599
Epoch 83/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3276 - accuracy: 0.8625 - val_loss: 0.3465 - val_accuracy: 0.8599
Epoch 84/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3272 - accuracy: 0.8627 - val_loss: 0.3466 - val_accuracy: 0.8614
Epoch 85/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3269 - accuracy: 0.8623 - val_loss: 0.3459 - val_accuracy: 0.8580
Epoch 86/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3267 - accuracy: 0.8647 - val_loss: 0.3470 - val_accuracy: 0.8626
Epoch 87/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3267 - accuracy: 0.8617 - val_loss: 0.3471 - val_accuracy: 0.8576
Epoch 88/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3264 - accuracy: 0.8623 - val_loss: 0.3454 - val_accuracy: 0.8618
Epoch 89/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3264 - accuracy: 0.8640 - val_loss: 0.3453 - val_accuracy: 0.8591
Epoch 90/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3259 - accuracy: 0.8632 - val_loss: 0.3471 - val_accuracy: 0.8610
Epoch 91/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3265 - accuracy: 0.8625 - val_loss: 0.3468 - val_accuracy: 0.8603
Epoch 92/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3261 - accuracy: 0.8638 - val_loss: 0.3460 - val_accuracy: 0.8588
Epoch 93/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3261 - accuracy: 0.8621 - val_loss: 0.3459 - val_accuracy: 0.8610
Epoch 94/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3260 - accuracy: 0.8634 - val_loss: 0.3491 - val_accuracy: 0.8588
Epoch 95/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3260 - accuracy: 0.8625 - val_loss: 0.3461 - val_accuracy: 0.8599
Epoch 96/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3258 - accuracy: 0.8619 - val_loss: 0.3444 - val_accuracy: 0.8595
Epoch 97/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3256 - accuracy: 0.8632 - val_loss: 0.3447 - val_accuracy: 0.8595
Epoch 98/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3254 - accuracy: 0.8638 - val_loss: 0.3461 - val_accuracy: 0.8576
Epoch 99/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3255 - accuracy: 0.8643 - val_loss: 0.3457 - val_accuracy: 0.8565
Epoch 100/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3257 - accuracy: 0.8642 - val_loss: 0.3454 - val_accuracy: 0.8561

In [ ]:
y_pred = model.predict(x_test)

63/63 [==============================] - 0s 688us/step

In [ ]:
y_pred

array([[0.02760465],
       [0.05671108],
       [0.43781334],
       ...,
       [0.02625715],
       [0.21788195],
       [0.6305043 ]], dtype=float32)

In [ ]:
y_pred = (y_pred > 0.5)

In [ ]:
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_test, y_pred)

In [ ]:
accuracy

0.87